<!-- ko module: textBox --><!-- /ko -->
<!-- ko module: modules.name --><!-- /ko -->
<script>
    var FormGroup = require('module/control/form-group');
	var TextBox = require("module/control/text-box");
	var ko = require("knockout");

    var Validator = require('service/validator');
    var v = require('service/validate-handlers');

	model = [
		function(){
			this.dealName = ko.observable("我是团单"); //this.dealName = "我是团单"
			this.textBox = new TextBox({
				value: this.dealName
			});

			this.reset();
			this.buildValidator();
			this.buildModule();
		},
		{
			reset: function(){
				this.setData({
					myName: "张涛"
					}
				);
			},
			buildValidator: function(){
                this.validators = {
                    myName: new Validator(this.myName, [v.required])
                };
			},
			buildModule: function(){
				this.modules = {
					name: new FormGroup({
						content: new TextBox({
							value: this.myName,
	                        validator: this.validators.myName
						}),
						label: "姓名",
                        cols: [1, 4],
                        required: true
					})
				}
			}
		}
	];
</script>