@import "tree.styl"
@import "pagination.styl"
@import "example.styl"

.editable
    display inline-block
    cursor pointer
    color #337ab7

    &:hover        
        text-decoration underline


.op
    > *
        margin 0 0.5em