.pagination-container
    text-align: right
    display block

    a:not(.active)
        cursor pointer

    *
        display inline-block
        vertical-align middle

    > *
        margin-right 10px

    .text
        padding 5px

    .pagination
        margin 0

