.node
    > *
        display inline-block
        vertical-align top
        
    .handle
        width 2em
        padding 0.5em     
        cursor pointer   

    .item
        padding 0.5em 
        cursor default

        &:hover
            background-color #dff0d8

        > *
            display inline-block
        .op
            margin-left 1em
            
            > *
                display inline-block

            .seperator
                height 1em
                border-left 1px dotted #ccc